.col-imagem {
    width: 5%;
}

.col-nome {
    width: 45%;
}

.col-login {
    width: 30%;
}

.col-nivel {
    width: 25%;
}

.img-usuario{
    width: 40px; 
    height: 40px; 
    object-fit: cover;
}