<div class="container mt-4">  
  <h2 class="mb-4 border-bottom border-3 border-danger">Produtos</h2>

  <div class="d-flex justify-content-end mb-2">
    <a routerLink="/add-produto" routerLinkActive="active" class="btn btn-primary">Cadastrar</a>
  </div>

  <table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th class="col-descricao">Descrição</th>
        <th class="col-valor">Valor</th>
        <th class="col-tipo">Tipo</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objeto of lista">
        <td>{{ objeto.descricao }}</td>
        <td>{{ objeto.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>{{ objeto.tipo?.descricao }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-warning me-2" (click)="editar(objeto.id)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="excluir(objeto.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="mensagemDados" class="alert alert-info text-center">
    Aguarde, carregando dados...
  </div>
</div>